<div id="specificthread">
  <ul id="List">
    <li> <h3>Foods, Calories:</h3></li>
    <li><%= nutrition.food1 %> <span class="calorie1"><%= nutrition.nutrition1 %></span></li>
  <% if (nutrition.food2 !== '' || nutrition.food2 !== undefined) { %>
     <li><%= nutrition.food2 %> <span class="calorie2"><%= nutrition.nutrition2 %></span></li>
  <% } %>
  <% if (nutrition.food3 !== '' || nutrition.food3 !== undefined) { %>
     <li><%= nutrition.food3 %> <span class="calorie3"><%= nutrition.nutrition3 %></span></li>
  <% } %>
  <% if (nutrition.food4 !== '' || nutrition.food4 !== undefined) { %>
     <li><%= nutrition.food4 %> <span class="calorie4"><%= nutrition.nutrition4 %></span></li>
  <% } %>
  <% if (nutrition.food5 !== '' || nutrition.food5 !== undefined) { %>
     <li><%= nutrition.food5 %> <spanclass="calorie5"><%= nutrition.nutrition5 %></span></li>
  <% } %>
</ul>
  <h5 class="threadDate">Date Created: <%= nutrition.time %></h5>
</div>
<h4 class="calorieCount"> Total Calories Consumed: 0 </h4>
<button type="button" class="btn btn-success" id="updateCalories">Update Calorie Count!</button></br>
<div>
  <a class="btn btn-warning" href="/day/<%= nutrition._id %>/edit" role="button">Edit this Day</a>
<form action="/day/<%= nutrition._id %>?_method=DELETE"
      method="post">
  <button type="submit" class="btn btn-danger">Delete Day</button>
  <br/>
  <a href="/dailychart">Back to Homepage</a>
  </form>
</div>
